.descriptionBlock {
    padding: 10px;
}
.mainPhoto {
    padding: 5px;
    width: 200px;
    height: 200px;
}
.contact {
    padding-left: 20px;
}
.formSummaryError {
    padding: 5px;
    color: #f05945;
}