.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header-ga header-ga"
  "nav-ga content-ga";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: content-ga;
  background-color: #d5e1dd;
}
